* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
body {
  margin: 0;
  padding: 0;
  background: #9cecfb;
  background: linear-gradient(to right, #4374c3, #65c7f7, #9cecfb);

  
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}